.box-container {
    display: flex;
    width: 526px;
    height: 80px;
    left: 158px;
    top: 122px;
    background: #171818;
    mix-blend-mode: normal;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #7BEE52;
    min-width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    text-transform: uppercase;
    border-radius: 1rem;
    
}
.inside-bodycontainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
    margin-right: 2rem;
}
.phonenumber {
    display: flex;
    justify-content: center;
    align-items: center;
   min-height:2rem;
   width: 8rem;
   border-radius:2rem;
   margin-bottom: 3rem;
  background-color: #7BEE52;
}

.details-button{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: -1rem;
    padding: 10px 10px;
    transform: translate(-50%);
    background-color: aliceblue;
    border-radius: 1rem;
}

.FloatingEmp {
    display: flex;
    align-items: center;
}
.arrow {
    display: flex;
    
    align-items: center;
    margin-top: -2rem;
    background-color: white;
    height: 5rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 1rem 1rem 1rem 1rem;
}
.arrow-box{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.edit {
    display: flex;
    flex-direction: column;
}
.pop-up {
    z-index: 1;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}